@page "/changeablecounter"
@layout NestedLayout

<h3>Counter 2</h3>
<p>
    <strong>Current count: </strong><input @bind=count  @bind:event="oninput" />
    <span hidden="@(count <=10)" class="red-color">Count is too high!</span>
    <span hidden="@(!numberError)" class="red-color">Only digits alowed!</span>
    <br />
    <button class="btn btn-primary" @onclick="Increase">Increase</button>
    <br />
     <strong>@count</strong>
</p>
<p>
    <br/>
</p>
<p>
    <a class="btn btn-primary" href="/">Home</a> <a class="btn btn-secondary" href="/counter">Counter 1</a> <a class="btn btn-secondary" href="/ThirdCounter">Counter 3</a>
</p>

@code {
    int count = 0;
    bool numberError = false;
 

    private void Increase(EventArgs e)
    {
        if (count < 10)
        {
            count++;

        }
    }

    private void KeyHandler(KeyboardEventArgs e)
    {
      
       if (e.Key == "-")
        {
            count = count - 1;
        }
    }

}
