@page "/counter"
@page "/counter/{CurrentCount:int}"
@layout NestedLayout

<h1>Counter</h1>

<p class="@colorStyle @align">Current count: @CurrentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount" disabled="@(CurrentCount >=1000)">Click me</button>

@code {
    private string colorStyle = "blue-color";
    private string align = "left";
    [Parameter]
    public int CurrentCount { get; set; } = 0;



    private void IncrementCount()
    {
        CurrentCount++;
        colorStyle = CurrentCount >= 100 ? colorStyle = "red-color" : "blue-color";
        align = CurrentCount % 2 == 0 ? align = "left" : "right";
    }
}
